<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1.1,minimum-scale=1.0, user-scalable=0">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    {% block link %}
    <link rel="stylesheet" href="https://www.51vj.cn/static/css/iconfont/iconfont.css?v=2017052501">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="js/thgn/jifen/layer/layer.m.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <link rel="stylesheet" href="css/sass_main.css">
    
    {% endblock %}
    <!-- <link rel="stylesheet" href="css/sass_main.css"> -->
</head>

<body>
    <!-- <img class="display-bl pct-w100" src="images/head_tbangzhu.png"> -->
     {% block main %} {% endblock %}

</body>

</html>