{% extends "default.html" %} {% block main %}
<main id="page-exchange-record">
  <ul>
    <li>
      <a href="exchange_record_detail.html" class="sub-box">
        <span class="sub sub-default">未开始</span>
        <section class="tag-box">
          <div class="tag-img img-box">
            <img src="images/icon_jfgz.png" alt="">
          </div>
          <div class="tag-content">
            <h5>柔软亲肤纯棉可水洗针织条纹夏凉被全棉被芯双人</h5>
            <p class="tag-date">
              线下兑换期限：2017.06.22 12:00－2017.07.25 12:00
            </p>
          </div>
        </section>
      </a>
    </li>
    <li>
      <a href="exchange_record_detail.html" class="sub-box">
        <span class="sub sub-primary">未核销</span>
        <section class="tag-box">
          <div class="tag-img img-box">
            <img src="images/icon_jfgz.png" alt="">
          </div>
          <div class="tag-content">
            <h5>柔软亲肤纯棉可水洗针织条纹夏凉被全棉被芯双人</h5>
            <p class="tag-date">
              线下兑换期限：2017.06.22 12:00－2017.07.25 12:00
            </p>
          </div>
        </section>
      </a>
    </li>
    <li>
      <a href="exchange_record_detail.html" class="sub-box">
        <span class="sub sub-default">已核销</span>
        <section class="tag-box">
          <div class="tag-img img-box">
            <img src="images/icon_jfgz.png" alt="">
          </div>
          <div class="tag-content">
            <h5>柔软亲肤纯棉可水洗针织条纹夏凉被全棉被芯双人</h5>
            <p class="tag-date">
              线下兑换期限：2017.06.22 12:00－2017.07.25 12:00
            </p>
          </div>
        </section>
      </a>
    </li>
    <li>
      <a href="exchange_record_detail.html" class="sub-box">
        <span class="sub sub-default">已退回</span>
        <section class="tag-box">
          <div class="tag-img img-box">
            <img src="images/icon_jfgz.png" alt="">
          </div>
          <div class="tag-content">
            <h5>柔软亲肤纯棉可水洗针织条纹夏凉被全棉被芯双人</h5>
            <p class="tag-date">
              线下兑换期限：2017.06.22 12:00－2017.07.25 12:00
            </p>
          </div>
        </section>
      </a>
    </li>
  </ul>

</main>
{% endblock %}