{% extends "default.html" %} {% block main %}
<main id="page-exchange-record-detail">

  <article class="container">
    <section class="tag-box">
      <div class="tag-img img-box">
        <img src="images/icon_jfgz.png" alt="">
      </div>
      <div class="tag-content">
        <h5>柔软亲肤纯棉可水洗针织条纹夏凉被全棉被芯双人</h5>
        <div class="pro-message">
          <span class="price">1500</span>

          <span class="number"><a href="pro_exchange.html">查看商品详情</a> </span>
        </div>
      </div>
    </section>
    <section class="underline-exchange">
      <p><span class="col">线下兑换期限：</span> 12:00 - 2017.06.15 12:00</p>
      <p><span class="col">线下兑换地点：</span> 天合光能</p>
    </section>
  </article>
<!-- 未开始 -->
  <article>
    <section href="" class="sub-box container">
      <span class="sub sub-default">未开始</span>
      <img src="images/empty_zwm.png" alt="">
      <p>暂无二维码</p>
    </section>
    <section class="underline-exchange container">
      <p><span class="col">消费积分：</span> 1500</p>
      <p><span class="col">兑换时间：</span> 2017.06.10 12:00</p>
    </section>
  </article>
<!-- 未核销 -->
  <article>
    <section href="" class="sub-box container">
      <span class="sub sub-primary">未核销</span>
      <img src="images/empty_zwm.png" class="big" alt="">
      <p>(兑换时向核销人员出示二维码)</p>
    </section>
    <section class="underline-exchange container">
      <p><span class="col">消费积分：</span> 1500</p>
      <p><span class="col">兑换时间：</span> 2017.06.10 12:00</p>
    </section>
  </article>
<!-- 未核销 -->
  <article>
       <section href="" class="sub-box container">
      <span class="sub sub-default">未核销</span>
      <img src="images/empty_zwm.png" class="big" alt="">
      <p>(兑换时向核销人员出示二维码)</p>
    </section>
    <section class="underline-exchange container">
      <p><span class="col">消费积分：</span> 1500</p>
      <p><span class="col">兑换时间：</span> 2017.06.10 12:00</p>
      <p><span class="col">核销时间：</span> 2017.06.10 12:00</p>
      <p><span class="col">核销人：</span> 曾小美</p>
    </section>
  </article>
<!-- 已退回 -->
  <article>
       <section href="" class="sub-box container">
      <span class="sub sub-default">已退回</span>
      <img src="images/empty_sx.png" alt="">
      <p>二维码已失效</p>
    </section>
    <section class="underline-exchange container">
      <p><span class="col">退回积分：</span> 1500</p>
      <p><span class="col">退回原因：</span> 有效期限内未兑换</p>
      <p><span class="col">退回时间：</span> 2017.06.10 12:00</p>
    </section>
  </article>
</main>
{% endblock %}