{% extends "default.html" %} {% block main %}
<main id="page-index">
    
    <img src="images/bg_zfgz.png" alt="" class="banner">
    <section class="link-list">
        <a href="pro_list.html" class="link-item">
            <img src="images/icon_jfdh.png" alt="">
            <p>积分兑换</p>
        </a>
        <a href="exchange_record.html" class="link-item">
            <img src="images/icon_dhjl.png" alt="">
            <p>兑换记录</p>
        </a>
        <a href="person_point.html" class="link-item">
            <img src="images/icon_wdjf.png" alt="">
            <p>我的积分</p>
        </a>
        <a href="point_rule.html" class="link-item">
            <img src="images/icon_jfgz.png" alt="">
            <p>积分规则</p>
        </a>
    </section>
    <!-- <audio src="https://boximg.51vj.cn:9443/care/2017/8/10/47685824036929536.aac" controls="controls"/> -->
    <audio src="http://vjfile.oss-cn-hangzhou.aliyuncs.com/mytest/mytest2.mp3" controls="controls"/>
    <!-- <audio src="http://vjfile.oss-cn-hangzhou.aliyuncs.com/mytest/mytest1.mp3" controls="controls"/> -->
</main>
{% endblock %}