{% extends "default.html" %} {% block link %} {% endblock %} {% block main %}
<main id="page-point-rule">

  <img src="images/bg_zfgz.png" alt="" class="banner">
  <section class="rule-detail container">
    可使用有效的积分，在积分商城中的依照积分兑换规则兑换相应的礼物，在籍会员享有在籍专享价，以优惠的积分兑换相应的礼物。当礼物兑换成功后，积分商城会自动从您的积分中扣除相应的分值，此兑换动作将不予撤销。
    <br>
    <br> 各回馈项目及兑换标准，兑换规则均以兑换时的最新活动公告或礼物目录为准。
    <br>
    <br> 兑换礼物数量有限，兑完即止。
    <br>
    <br> 兑换礼物非质量问题，不退不换，不折现，不找零。
    <br>
    <br> 2.积分礼物发送方式：
    <br>
    <br> 成功提交积分礼物兑换申请后，在籍会员的订单将在下一个工作日进行处理，礼物将随客户最近一期不收


  </section>
</main>
{% endblock %}