{% extends "default.html" %} {% block main %}
<main id="page-pro-list">
     <ul  class="pro-list">
      <li class="pro-item">
        <a href="pro_exchange.html">
          <div class="img-box">
            <img src="images/empty_result.png" alt="">
          </div>
          <p class="pro-name">纯亚麻凉席夏季格子床单</p>
          <div class="pro-message">
            <span class="price">500</span>
            <span class="number">剩余20件</span>
          </div>
        </a>
      </li>
      <li class="pro-item">
        <a href="pro_exchange.html">
          <div class="img-box">
            <img src="images/icon_kq.png" alt="">
          </div>
          <p class="pro-name">纯亚麻凉席夏季格子床单</p>
          <div class="pro-message">
            <span class="price">500</span>
            <span class="number">剩余20件</span>
          </div>
        </a>
      </li>
      <li class="pro-item">
        <a href="pro_deleted.html">
          <div class="img-box">
            <img src="" alt="">
          </div>
          <p class="pro-name">纯亚麻凉席夏季格子床单</p>
          <div class="pro-message">
            <span class="price">500</span>
            <span class="number">剩余20件</span>
          </div>
        </a>
      </li>
     </ul>
</main>
{% endblock %}