{% extends "default.html" %} {% block main %}
<main id="page-pro-exchange">
  <div class="swiper-container banner">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="images/bg_zfgz.png" alt="">
      </div>
      <div class="swiper-slide">
        <img src="images/bg_zfgz.png" alt="">
      </div>
      <div class="swiper-slide">
        <img src="images/bg_zfgz.png" alt="">
      </div>
    </div>
    <div class="banner-pagination"></div>
  </div>

  <article class="container name-box">
    <h3>Biella进口亚麻织品四件套床上用品四季皆宜</h3>
    <div class="pro-message">
      <span class="price">1500</span>
      <span class="price price-false">1500</span>
      <span class="number">已兑换17件｜剩余3件</span>
    </div>
  </article>
  <article class="container container2">
    <section class="underline-exchange">
      <p><span class="col">线下兑换期限：</span> 12:00 - 2017.06.15 12:00</p>
      <p><span class="col">线下兑换地点：</span> 天合光能</p>
    </section>


  </article>


  <article class="container pro-detail">
    <h4>商品详情</h4>
    <section class="detail">
      亚麻它有其他织物不可比拟的优点：吸湿、透气、耐用、防紫外线、抗辐射。
      <br>
      <br> ■ 吸湿、透气
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br> 亚麻是世界上公认最环保的天然纤维之一，具有极高的吸湿性能和低弹性，亚麻布的吸水速度比棉布快上几倍。而且由于亚麻的物理特性，具有相对较低的织物经纬密度，透气性更好，在炎热或潮湿的天气能增加身体的舒适感。 在冬季，亚麻床品也是上好的选择，尤其是潮湿阴冷的南方。搭配羊毛盖毯或蚕丝被，既干燥又温暖。
      <br>
      <br>
      <img src="images/bg_zfgz.png" alt="">
    </section>


  </article>

  <section class="exchange-btn container">
    <a role="button" class="btn btn-true">我要兑换</a>
    <a role="button" class="btn btn-false">已兑完</a>
  </section>

  <script language="javascript">
    var mySwiper = new Swiper('.banner', {
      pagination: '.banner-pagination',
      loop: true,
      autoplay: 5000,
    })
  </script>

</main>
{% endblock %}