{% extends "default.html" %} {% block link %} {% endblock %} {% block main %}
<main id="page-cancel-sure">

  <article class="container">
    <section class="tag-box">
      <div class="tag-img img-box">
        <img src="images/icon_jfgz.png" alt="">
      </div>
      <div class="tag-content">
        <h5>柔软亲肤纯棉可水洗针织条纹夏凉被全棉被芯双人</h5>
        <div class="pro-message">
          <span class="price">1500</span>

        </div>
      </div>
    </section>
    <section class="underline-exchange">
      <p><span class="col">线下兑换期限：</span> 12:00 - 2017.06.15 12:00</p>
    </section>
  </article>
  <section class="container remarks-box">
    <p>备注</p>
    <textarea placeholder="请输入备注..." oninput="this.style.height = this.scrollHeight + 'px';"></textarea>
  </section>
  <section class="btn-box">
    <a role="button" class="btn btn-true">确定核销</a>
    <p class="btn-remarks">卡券核销后不可撤回</p>
  </section>
</main>
{% endblock %}